main.video {
    max-width: var(--size-media-default);
    margin: 0 auto;
    background-color: var(--colour-float);
}

main.video > h1 {

}

#videoContainer {
    max-width: var(--medium-upper-bound);
    margin: 0 auto;
    text-align: center;

    #videoBox {
        margin: 0 auto;
        position: relative;
    }

    .videoPoster {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 auto;
    }

    .loadingBar {
        position: absolute;
        left: 0;
        transition: opacity 2s ease-out;
    }

    .loadingProgressChild {

    }

    #videoControls {
        display: flex;
        align-items: center;
        padding: 15px 5px;
        background: var(--colour-deep);

        #playProgress {
            width: 60%;
        }

        #playPauseButton {
            flex: 0 auto;
        }
        .timeSpan {
            font-family: var(--font-bulk);
            font-size: 1em;
            margin: 0.2em;
            flex: 1 auto;
            text-align: center;
            color: var(--colour-float);
        }
        #fullscreenButton {
            flex: 0 auto;
        }
        #tracksControl {
            flex: 0 auto;
            position: relative;
        }
        #tracksControl:hover #tracksList {
            display: block;
        }
        #tracksList {
            display: none;
            position: absolute;
            top: 20px;
            right: 0;
            list-style-type: none;
            margin: 0;
            padding: 0;
            white-space: nowrap;
            text-align: left;
            border: 2px solid var(--colour-work);
            background: var(--colour-glide);

            li {
                padding: 0.4em;
                background: var(--colour-float);
                margin: 0.6em;
                font-family: var(--font-bulk);
                border: 1px solid var(--colour-float);

            }

            li.active {
                border: 1px solid var(--colour-work);
                color: var(--colour-work);
            }

            li:hover {
                cursor: pointer;
                border: 1px solid var(--colour-explore);
            }
        }
        #tracksList:hover {
            display: block;
        }

        #tracksList.emulateHover {
            display: block;
        }

        #noTracksList {
            display: none;
        }
        #soundControl {
            flex: 0 auto;
            position: relative;
        }
        #soundControl:hover #soundSlider {
            display: block;
        }
        #soundSlider {
            display: none;
            position: absolute;
            top: -100px;
            right: 5px;
            -webkit-appearance: slider-vertical;
            width: 20px;
            height: 100px;
            z-index: 100;
        }

        #soundSlider.emulateHover {
            display: block;
        }

        #noSoundSlider {
            display: none;
        }
        .button {
            margin: 0 5px;
        }
    }
}

.mediaInfo {
    padding: 1em;

    ul {
        list-style-type: none;
        margin: 1em 0;
        padding: 0;

        li {
            display: inline;
            font-family: var(--font-bulk);
        }
    }
}
