main.video {
    max-width: var(--size-media-default);
    margin: 0 auto;
    background-color: var(--colour-float);
}

main.video > h1 {

}

#mediaTitle {
    margin: 0;
    padding: 1em 0;
    text-align: center;
}

#videoContainer {
    max-width: var(--medium-upper-bound);
    margin: 0 auto;
    text-align: center;

    #videoBox {
        margin: 0 auto;
        position: relative;
    }

    .videoPoster {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 auto;
    }

    .loadingBar {
        position: absolute;
        left: 0;
        transition: opacity 2s ease-out;
    }

    .loadingProgressChild {

    }

    #videoControls {

        padding: 5px;
        background: var(--colour-deep);

        #playProgress {
            width: 100%;
            margin: 0 auto;
        }

        #videoControlsActions {
            display: flex;
            align-items: center;

            #playPauseButton {
                flex: 0 auto;
            }
            #timeSpan {
                font-size: 1.8em;
                margin: 0.2em;
                flex: 1 auto;
                text-align: center;
                color: var(--colour-float);
            }
            #fullscreenButton {
                flex: 0 auto;
            }
            #tracksControl {
                flex: 0 auto;
                position: relative;
            }
            #tracksControl:hover #tracksList {
                display: block;
            }
            #tracksList {
                display: none;
                position: absolute;
                top: 20px;
                left: 0;
                list-style-type: none;
                margin: 0;
                padding: 0;
                white-space: nowrap;
                li {
                    display: block;
                }
            }
            #tracksList:hover {
                display: block;
            }
            #noTracksList {
                display: none;
            }
            #soundControl {
                flex: 0 auto;
                position: relative;
            }
            #soundButton:hover {
                background-color: #dd514c;
            }
            #soundControl:hover #soundSlider {
                display: block;
                background-color: #707070;
            }
            #soundSlider {
                display: none;
                position: absolute;
                top: -100px;
                right: 5px;
                -webkit-appearance: slider-vertical;
                width: 20px;
                height: 100px;
                z-index: 100;
            }
            #noSoundSlider {
                display: none;
            }
            .button {
                margin: 0 5px;
            }
        }
    }
}

#videoMeta {
    padding: 1em;
}

