<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}theMetaCity.com Videos{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/static/css/common.css" rel="stylesheet"/>
</head>
<body>
<div id="centeredcontainer">
    <main>
        <article>
            <header>
                <h1>{% block videoTitle %}{% endblock %}</h1>
            </header>
            <div class="vidcontainer">
                <video></video>
                <div class="videocontrols"></div>
            </div>
            <div class="infolhs">
                <h2>Downloads:</h2>
                <h3>Files:</h3>
                <ul>
                    <li>234</li>
                    <li>wer</li>
                    <li>sdfg</li>
                    <li>sdfg</li>
                </ul>

                <h3>Poster</h3>

                <h3>Tracks</h3>
                <ul>
                    <li>234</li>
                    <li>wer</li>
                    <li>sdfg</li>
                    <li>sdfg</li>
                </ul>
            </div>
            <div class="inforhs">
                <h2>About this video</h2>
                <p>13</p>
                <p>we</p>
                <p>uikfgjdf</p>
            </div>
        </article>
    </main>
</div>
<footer class="copyright"></footer>
</body>
</html>
