<!DOCTYPE html>
<html lang="en">
<head>
    <title>theMetaCity.com Videos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/static/css/common.css" rel="stylesheet"/>
</head>
<body>
<div id="mediaentries">
    {% for video in videos %}
        <div class="mediaentry">
            <p><a href="/{{ video.id }}">{{ video.title }}</a>, {{ video.length }}</p>
            <p>{{ video.about }}</p>
        </div>
    {% endfor %}
</div>
<footer class="copyright"></footer>
</body>
</html>
