<!DOCTYPE html>
<html lang="en">
<head>
    <title>theMetaCity.com Videos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script defer="defer" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link href="/static/css/common.css" rel="stylesheet"/>
</head>
<body>
{% from 'fp_macros.jinja2' import video %}
{% for video in videos %}
<p>a</p>
{% endfor %}
<footer class="licence">
    <p>Work is by <a xmlns:cc="http://creativecommons.org/ns#" href="https://www.themetacity.com"
                     property="cc:attributionName" rel="cc:attributionURL">
        Douglas Miller</a> and is licensed under a <a rel="license"
                                                      href="https://creativecommons.org/licenses/by-sa/4.0/">Creative
        Commons Attribution-ShareAlike 4.0 International License</a> unless explicitly stated otherwise.</p>
</footer>
</body>
</html>
