{% extends "video_base.html" %}

{% block video %}
    {{ video.get_biggest_filesize() }}
    {{ video.get_smallest_filesize() }}
    <video width="{{ video.get_width() }}" height="{{ video.get_height() }}" controls
            {{ has_start_poster }}
            {% if video.has_start_poster %}
                data-startposter="http://assets.localcity.com/video/{{ video.file_name }}.startposter.svg"
            {% endif %}
            {% if video.has_end_poster %}
                data-endposter="http://assets.localcity.com/video/{{ video.file_name }}.endposter.svg"
            {% endif %}
            preload="auto"
            crossorigin
            >
        {% for source in video.files %}
            {% if not source.is_fullscreen %}
                <source src="http://assets.localcity.com/video/{{ video.file_name }}.{{ source.extention }}"
                        type='video/{{ source.Mime_Type }}; codecs="{{ source.Video_Codec }}{{ source.get_audio_codec_if_present() }}"'
                        {% if source.has_fullscreen %}
                        data-fullscreen="true"
                        {% endif %}

                        >
            {% endif %}
        {% endfor %}
        {% for track in video.tracks %}
            <track src="http://assets.localcity.com/video/{{ track.get_url(video) }}" srclang="{{ track.src_lang }}" kind="{{ track.type }}" label="{{ track.label }}"></track>
        {% endfor %}
    </video>
{% endblock %}

{% block poster %}
    {% if not video.has_start_poster %}
        No start poster
    {% else %}
        <a href="http://assets.localcity.com/video/{{ video.get_start_poster_url() }}">Start poster</a>
    {% endif %}

    {% if not video.has_end_poster %}
        No end poster
    {% else %}
        <a href="http://assets.localcity.com/video/{{ video.get_end_poster_url() }}">End poster</a>
    {% endif %}
{% endblock %}

{% block trackMenu %}
    {% if video.tracks %}
        <ul id="trackMenu">
            <li class="activeTrack">None</li>
        {% for track in video.tracks %}
            <li>{{ track.type|title }}: {{ track.label }} ({{ track.src_lang }})</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}


{% block videoFiles %}
    {% for file in video.files %}
        {% if file.is_fullscreen %}
            <li>
                <a href="http://assets.localcity.com/video/{{ video.file_name }}.fullscreen.{{ file.extention }}">{{ video.file_name }}.fullscreen.{{ file.extention }}</a><br>
                {{ file.resolution }} {{ file.Video_Codec }} {{ file.get_audio_codec_if_present() }} {{ file.file_size }}
            </li>
        {% else %}
            <li>
                <a href="http://assets.localcity.com/video/{{ video.file_name }}.{{ file.extention }}">{{ video.file_name }}.{{ file.extention }}</a> <br>
                {{ file.resolution }} {{ file.Video_Codec }} {{ file.get_audio_codec_if_present() }} {{ file.file_size }}
            </li>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block tracks %}
    {% if video.tracks|length %}
        <ul>
            {% for track in video.tracks %}
                <li><a href="http://assets.localcity.com/video/{{ track.get_url(video) }}">{{ track.get_description() }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No tracks.</p>
    {% endif %}
{% endblock %}