<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ video.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/static/css/common.css" rel="stylesheet"/>
</head>
<body>
<div id="centeredcontainer">
    <main>
        <article>
            <header>
                <h1>{{ video.title }}</h1>
            </header>
            <div class="vidcontainer">
                {% block video %}{% endblock %}
            </div>
            <div class="infolhs">
                <h2>Downloads:</h2>
                <h3>Files:</h3>
                <ul>
                    {% block videoFiles %}{% endblock %}
                </ul>

                <h3>{% block poster %}Poster{% endblock %}</h3>

                <h3>Tracks</h3>
                {% block tracks %}{% endblock %}

            </div>
            <div class="inforhs">
                <h2>About this video</h2>
                {% block about %}{% endblock %}
            </div>
        </article>
    </main>
</div>
<footer>
    <div id="licence">{%  block licence %}{% endblock %}</div>
</footer>
</body>
</html>
