@charset "UTF-8";

body {
    background: transparent url('/static/images/biggestbg.jpg') center center no-repeat fixed;
    background-size: cover;
}

h1, h2, h3 {
    font-family: Orbitron, sans-serif;
    text-shadow: 0 0 0.2em #187, 0 0 0.2em #F87, 0 0 0.2em #F87;
}

h1 {
    text-align: center;
    font-szie: 2em;
}

a {
    color: #FFA500;
}

.centerer {
    text-align: center;
}

#centeredContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: 968px;
    min-width: 500px;
}

p, li {
    font-family: "Droid Sans", serif;
}

#vidContainer {
    box-shadow: 0 0 50px;
    background: rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 0.2em #187, 0 0 0.2em #F87, 0 0 0.2em #F87;
    display: inline-block;
    clear: both;
}

#videoControls p {
    display: inline;
    margin: 0 0 0 90px;
}

.button {
    float: right;
    margin: 10px 0 0 10px;
    display: block;
}

#playPauseButton {
    float: left;
}

video {
    display: block;
    margin: 0 auto;
}

#inforhs {
    padding-left: 410px;
}

#infolhs {
    float: left;
    max-width: 350px;
}

#infolhs h3 {
    margin-bottom: 0;
}

#infolhs ul {
    list-style-type: none;
    font-size: 1em;
    padding: 0;
    text-shadow: 0 0 0.2em #187, 0 0 0.2em #F87, 0 0 0.2em #F87;
}

li {
    list-style-position: inside;
    box-shadow: 0 0 3px;
    background: rgba(0, 0, 0, 0.5);
    margin: 5px 0;
    padding: 2px;
}

.aboutContainer {
    box-shadow: 0 0 3px;
    background: rgba(0, 0, 0, 0.5);
    padding: 3px;
    text-shadow: 0 0 0.2em #187, 0 0 0.2em #F87, 0 0 0.2em #F87;
}

.aboutContainer p {
    margin: 0;
    font-size: 1.1em;
}

footer {
    margin-left: auto;
    margin-right: auto;
    width: 968px;
    max-width: 968px;
    min-width: 500px;
    font-size: 0.9em;
    clear: both;
    text-align: center;
    text-shadow: 0 0 0.2em #187, 0 0 0.2em #F87, 0 0 0.2em #F87;
}

#loadProgress {
    height: 2px;
    border: 0;
    position: absolute;
}

#loadProgress div {
    background-color: #0063a6;
    height: 100%;
    position: relative;
}

#playProgress {
    width: 100%;
    margin: 0;
    opacity: 0.8;
}

#soundLevel {
    height: 80px;
    width: 20px;
    margin: 0;
    position: absolute;
    display: none;
}

.timeSpan {
    font-size: 2em;
    font-family: "Inconsolata", sans-serif;
}

.poster {
    position: absolute;
}

.mediaEntry {
    box-shadow: 0 0 50px;
    background: rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 0.2em #187, 0 0 0.2em #F87, 0 0 0.2em #F87;
    margin: 50px auto;
    width: 500px;
    padding: 15px;
}

.mediaEntry h1 a {
    color: #2F4F4F;
}

#tracksButton:hover ~ #trackMenu, #trackMenu:hover {
    display: block
} {
    margin-top: 0;
}#soundLevel, #soundLevel:hover {
    display: block;
}

#trackMenu {
    width: 180px;
    padding: 0;
    font-size: 0.8em;
    box-shadow: 0 0 3px;
    display: none;
    position: absolute;
    margin: 0;
}

#trackMenu li {
    list-style: none;
    text-align: left;
    margin: 0;
    padding-left: 5px;
    box-shadow: none;
}

#trackMenu li:hover {
    cursor: pointer;
    background: rgba(20, 20, 20, 0.7);
}

#trackMenu li.activeTrack {
    background: rgba(0, 0, 0, 0.7);
}