@charset "UTF-8";

#centeredcontainer {
    margin-left: auto;
    margin-right: auto;
}

#centeredcontainer, video {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.infolhs {
    float: left;
}

#licence {
    clear: both;
}