{% extends "detailed/media_base.html" %}

{% block title %}{{ audio.Parent.title }}{% endblock %}
{% block includes %}
    <script src="/static/javascript/audio.js"></script>
{% endblock %}

{% block media %}
<main class="mediaItem audio">
    <h1 id="mediaTitle"><a href="/audio/{{ audio.id }}">{{ audio.Parent.title }}</a></h1>
    <div id="audioContainer" class="mediaContainer">
        <div id="audioBox">
            <audio controls
                   data-filename="{{ audio.file_name }}"
                   data-startposter="{{ audio.has_start_poster }}"
                   data-endposter="{{ audio.has_end_poster_url }}"
                   data-hasfullscreen="{{ audio.has_fullscreen }}"
                   preload="auto"
                   id="audioObject">

                {% for source in audio.files %}
                    {% if not source.is_fullscreen %}
                        <source src="https://assets.themetacity.com/audio/{{ audio.file_name }}.{{ source.extension }}"
                            type='audio/{{ source.mime_type }}; codecs="{{ source.audio_codec }}{% if source.audio_codec != 'nill' %},{{ source.audio_codec }}{% endif %}"' />
                    {% endif %}
                {% endfor %}

                {% for track in audio.tracks %}
                    <track src="https://assets.themetacity.com/audio/tracks/{{ audio.file_name }}.{{ track.src_lang }}.{{ track.type }}.vtt"
                           srclang="{{ track.src_lang }}" kind="{{ track.type }}" label="{{ track.label }}">
                {% endfor %}
            </audio>
            <div id="audioControls" class="mediaControls">
                <img id="playPauseButton" class="button audio-icon" src="/static/images/smallplay.svg" title="Play" alt="Play/pause audio">
                <span id="currentTimeSpan" class="timeSpan">00:00</span>
                <input type="range" id="playProgress" min="0" max="1000" value="0">
                <span id="runningTimeSpan" class="timeSpan">{{ audio.format_running_time_to_human_readable() }}</span>
                <img id="fullscreenButton" class="button audio-icon" src="/static/images/fullscreen.svg" title="Go to fullscreen. If there is a higher resolution audio available it will load that, otherwise it will upscale the current audio." alt="Button to open audio in fullscreen">
                <div id="tracksControl" class="audio-icon">
                    <img id="tracksButton" class="button audio-icon" src="/static/images/tracks.svg" title="Change track options" alt="Button to open track options">
                    <ul id="tracksList">
                        <li class="active">No track</li>
                        {% for track in audio.tracks %}
                            <li>{{ track.get_description() }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="soundControl">
                    <img id="soundButton" class="button" src="/static/images/sound-0.svg" title="No sound availiable" alt="Icon showing no sound is available">
                    <input id="soundSlider" type="range" min="0" max="10" value="10" orient="vertical">
                </div>
            </div>
        </div>
    </div>

    <div id="" class="mediaInfo" itemscope itemtype="http://schema.org/audioObject">
        <h2 itemprop="name">{{ audio.Parent.title }}</h2>

        <h3>Published:
            <time itemprop="uploadDate" datetime="{{ audio.Parent.date_published }}">{{ audio.Parent.date_published }}</time>
        </h3>
        <div class="aboutContainer" itemprop="description">
            {% autoescape false %}
                {{ audio.Parent.about }}
            {% endautoescape %}
        </div>
    </div>

    <div id="audioMeta" class="mediaInfo">
        <h2>Downloads:</h2>
        <h3>Files:</h3>
        <ul>
            {% for file in audio.files %}
                    <li>
                        <a href="https://assets.localcity.com/audio/{{ audio.file_name }}.{{ file.extension }}">{{ audio.file_name }}.{{ file.extension }}</a><br>
                        {{ file.resolution }} {{ file.audio_codec }} {{ file.human_readable_size() }}
                    </li>
            {% endfor %}
        </ul>

        <h3>
            {% if not audio.has_start_poster %}
                No start poster,
            {% else %}
                <a href="http://assets.localcity.com/audio/startposters/{{ audio.file_name }}.startposter.svg">Start poster</a>
            {% endif %}

            {% if not audio.has_end_poster %}
                No end poster
            {% else %}
                <a href="http://assets.localcity.com/audio/endposters/{{ audio.file_name }}.endposter.svg">End poster</a>
            {% endif %}
        </h3>

        {% if audio.tracks %}
            <h3>Tracks</h3>
            <ul>
                {% for track in audio.tracks %}
                    <li><a href="http://assets.localcity.com/audio/tracks/{{ audio.file_name }}{{ track.get_url() }}">{{ track.get_description() }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>No tracks</h3>
        {% endif %}
    </div>
</main>
{% endblock %}

{% block licence %}{{ audio.Parent.title }}{% endblock %}
