<div class="mediaPoster audio">
    <h1><a href="/audio/{{ audio.id }}">{{ audio.title }}</a></h1>
        <img src="https://assets.themetacity.com/video/postcards/{{ audio.postcard.url }}"
             title="{{ audio.postcard.title }}"
             alt="{{ audio.postcard.alt_text }}">
    <h3>Published: {{ audio.date_published }}</h3>
    <div class="about">
        {% autoescape false %}{{ audio.about }}{% endautoescape %}
    </div>
    <ul class="meta">
        <li class="running_time">{{ audio.format_time_to_human_readable() }}</li>
        <li class="mime_types">{% for mt in audio.get_mime_types() %} {{ mt }} {% endfor %}</li>
        <li class="sizes">{{ audio.get_smallest_filesize_formatted() }} {% if audio.difference_between_max_and_min_filesize() %} - {{ audio.get_largest_filesize_formatted() }} {% endif %}</li>
        <li class="tracks">{% for track in audio.tracks %} {{ track.type }} {% endfor %}</li>
        <li class="licence">{{ audio.licence }}</li>
    </ul>
</div>