{% macro video(video) -%}
<div class="mediaPoster video">
    <h1><a href="/video/{{ video.id }}">{{ video.title }}</a></h1>
        <img src="https://assets.themetacity.com/video/postcards/{{ video.Postcard.url }}"
             title="{{ video.Postcard.title }}"
             alt="{{ video.Postcard.alt_text }}">
    <h3>Published: {{ video.date_published }}</h3>
    <div class="about">
        {% autoescape false %}{{ video.about }}{% endautoescape %}
    </div>
    <ul class="meta">
        <li class="running_time">{{ video.format_time_to_human_readable() }}</li>
        <li class="mime_types">{% for mt in video.get_mime_types() %} {{ mt }} {% endfor %}</li>
        <li class="sizes">{{ video.get_smallest_filesize_formatted() }} {% if video.difference_between_max_and_min_filesize() %} - {{ video.get_largest_filesize_formatted() }} {% endif %}</li>
        <li class="tracks">{% for track in video.tracks %} {{ track.type }} {% endfor %}</li>
        <li class="licence">{{ video.Licence }}</li>
    </ul>
</div>
{%- endmacro %}

{% macro audio(audio) -%}
<div class="mediaPoster audio">
    <h1><a href="/audio/{{ audio.id }}">{{ audio.title }}</a></h1>
        <img src="https://assets.themetacity.com/video/postcards/{{ audio.postcard.url }}"
             title="{{ audio.postcard.title }}"
             alt="{{ audio.postcard.alt_text }}">
    <h3>Published: {{ audio.date_published }}</h3>
    <div class="about">
        {% autoescape false %}{{ audio.about }}{% endautoescape %}
    </div>
    <ul class="meta">
        <li class="running_time">{{ audio.format_time_to_human_readable() }}</li>
        <li class="mime_types">{% for mt in audio.get_mime_types() %} {{ mt }} {% endfor %}</li>
        <li class="sizes">{{ audio.get_smallest_filesize_formatted() }} {% if audio.difference_between_max_and_min_filesize() %} - {{ audio.get_largest_filesize_formatted() }} {% endif %}</li>
        <li class="tracks">{% for track in audio.tracks %} {{ track.type }} {% endfor %}</li>
        <li class="licence">{{ audio.licence }}</li>
    </ul>
</div>
{%- endmacro %}

{% macro code(code) -%}
<div class="mediaPoster code">
    <h1><a href="/code/{{ code.id }}">{{ code.title }}</a></h1>
        <img src="https://assets.themetacity.com/video/postcards/{{ code.postcard.url }}"
             title="{{ code.postcard.title }}"
             alt="{{ code.postcard.alt_text }}">
    <h3>Published: {{ code.date_published }}</h3>
    <div class="about">
        {% autoescape false %}{{ code.about }}{% endautoescape %}
    </div>
    <ul class="meta">
        <li class="running_time">{{ code.format_time_to_human_readable() }}</li>
        <li class="mime_types">{% for mt in code.get_mime_types() %} {{ mt }} {% endfor %}</li>
        <li class="sizes">{{ code.get_smallest_filesize_formatted() }} {% if code.difference_between_max_and_min_filesize() %} - {{ code.get_largest_filesize_formatted() }} {% endif %}</li>
        <li class="tracks">{% for track in code.tracks %} {{ track.type }} {% endfor %}</li>
        <li class="licence">{{ code.licence }}</li>
    </ul>
</div>
{%- endmacro %}

{% macro picture(picture) -%}
<div class="mediaPoster picture">
    <h1><a href="/picture/{{ picture.id }}">{{ picture.title }}</a></h1>
        <img src="https://assets.themetacity.com/video/postcards/{{ picture.postcard.url }}"
             title="{{ picture.postcard.title }}"
             alt="{{ picture.postcard.alt_text }}">
    <h3>Published: {{ picture.date_published }}</h3>
    <div class="about">
        {% autoescape false %}{{ picture.about }}{% endautoescape %}
    </div>
    <ul class="meta">
        <li class="running_time">{{ picture.format_time_to_human_readable() }}</li>
        <li class="mime_types">{% for mt in picture.get_mime_types() %} {{ mt }} {% endfor %}</li>
        <li class="sizes">{{ picture.get_smallest_filesize_formatted() }} {% if picture.difference_between_max_and_min_filesize() %} - {{ picture.get_largest_filesize_formatted() }} {% endif %}</li>
        <li class="tracks">{% for track in picture.tracks %} {{ track.type }} {% endfor %}</li>
        <li class="licence">{{ picture.licence }}</li>
    </ul>
</div>
{%- endmacro %}