{% macro video(video) -%}
<div class="mediaPoster video">
    <h1><a href="/video/{{ video.id }}">{{ video.title }}</a></h1>
        <img src="https://assets.themetacity.com/video/postcards/{{ video.postcard.url }}"
             title="{{ video.postcard.title }}"
             alt="{{ video.postcard.alt_text }}">
    <h3>Published: {{ video.date_published }}</h3>
    <div class="about">
        {% autoescape false %}{{ video.about }}{% endautoescape %}
    </div>
    <ul class="meta">
        <li class="running_time">{{ video.format_time_to_human_readable() }}</li>
        <li class="mime_types">{% for mt in video.get_mime_types() %} {{ mt }} {% endfor %}</li>
        <li class="sizes">{{ video.get_smallest_filesize_formatted() }} {% if video.difference_between_max_and_min_filesize() %} - {{ video.get_largest_filesize_formatted() }} {% endif %}</li>
        <li class="tracks">{% for track in video.tracks %} {{ track.type }} {% endfor %}</li>
        <li class="licence">{{ video.licence }}</li>
    </ul>
</div>
{%- endmacro %}