{% extends "index.jinja2" %}

{% block extraTopNav%}
<h3 class="goBackOption goBackOptionTop"><a href="/">Go Back</a></h3>
{%  endblock %}

{% block extraBottomNav%}
<h3 class="goBackOption goBackOptionBottom"><a href="/">Go Back</a></h3>
{%  endblock %}
