{% macro fp_audio(audio) -%}
<article class="mediaEntry audio">
    <a href="/audio/{{ audio.id }}"><img src="https://assets.themetacity.com/audio/postcards/{{ audio.Parent.Postcard.url }}" title="{{ audio.Parent.Postcard.title }}" alt="{{ audio.Parent.Postcard.alt_text }}"></a>
    <h1><a href="/audio/{{ audio.id }}">{{ audio.Parent.title }}</a></h1>
    <div class="metaEntry">
        <h2 class="published">{{ audio.Parent.date_published }}</h2>
        <h2 class="running_time">{{ audio.format_running_time_to_human_readable() }}</h2>
        <ul class="tags">
            {% for tag in audio.Parent.tags %}
                <li><a href="/tag/{{ tag }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% autoescape false %}{{ audio.about }}{% endautoescape %}
</article>
{%- endmacro %}