{% macro fp_video(video) -%}
<article class="mediaEntry video">
    <img src="https://assets.themetacity.com/video/postcards/{{ video.Postcard.url }}" title="{{ video.Postcard.title }}" alt="{{ video.Postcard.alt_text }}">
    <h1><a href="/video/{{ video.id }}">{{ video.title }}</a></h1>
    {% autoescape false %}{{ video.about }}{% endautoescape %}
    <div class="metaBox">
        <h2 class="published">Published: {{ video.date_published }}</h2>
        <div class="meta">
            <div class="metaEntry running_time">{{ video.format_time_to_human_readable() }}</div>
            <div class="metaEntry mime_types">{% for mt in video.get_mime_types() %} {{ mt }} {% endfor %}</div>
            <div class="metaEntry sizes">{{ video.format_filesizes() }}</div>
            <div class="metaEntry tracks">{% for track in video.tracks %} {{ track.type }} {% endfor %}{% if not video.tracks %} No tracks {% endif %}</div>
            <div class="metaEntry licence"><a href="{{ video.Licence.licence_url }}" rel="license"><img src="/static/images/{{ video.Licence.image_url }}" /></a></div>
        </div>
    </div>
</article>
{%- endmacro %}