input[type=range] {
    height: 3px;
    margin: 0;
}

input[type=range]::-moz-range-track, input[type=range]::-webkit-slider-runnable-track  {
    height: 1em;
    background: var(--colour-work);
    border: 2px solid var(--colour-glide);
    border-radius: 1em;
}

input[type="range"]::-moz-range-progress {
    background: var(--colour-explore);
    height: 1em;
    border-radius: 1em 0 0 1em;
}

input[type=range]::-moz-range-thumb, input[type=range]::-webkit-slider-thumb {
  border: 2px solid var(--colour-float);
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
  background: var(--colour-explore);
  cursor: pointer;
}