{% macro fp_code(code) -%}
<div class="mediaPoster code">
    <h1><a href="/code/{{ code.id }}">{{ code.title }}</a></h1>
        <img src="https://asset.localcity.com/video/postcards/{{ code.postcard.url }}"
             title="{{ code.postcard.title }}"
             alt="{{ code.postcard.alt_text }}">
    <h3>Published: {{ code.date_published }}</h3>
    <div class="about">
        {% autoescape false %}{{ code.about }}{% endautoescape %}
    </div>
    <ul class="meta">
        <li class="language">{{ code.language }}</li>
        <li class="licence">{{ code.licence }}</li>
    </ul>
</div>
{%- endmacro %}