{% macro fp_code(code) -%}
<div class="mediaPoster code">
    <h1><a href="/code/{{ code.id }}">{{ code.title }}</a></h1>
        <img src="https://asset.localcity.com/video/postcards/{{ code.postcard.url }}"
             title="{{ code.postcard.title }}"
             alt="{{ code.postcard.alt_text }}">
    <h3>Published: {{ code.date_published }}</h3>
    <div class="about">
        {% autoescape false %}{{ code.about }}{% endautoescape %}
    </div>
    <ul class="meta">
        <li class="running_time">{{ code.format_time_to_human_readable() }}</li>
        <li class="mime_types">{% for mt in code.get_mime_types() %} {{ mt }} {% endfor %}</li>
        <li class="sizes">{{ code.get_smallest_filesize_formatted() }} {% if code.difference_between_max_and_min_filesize() %} - {{ code.get_largest_filesize_formatted() }} {% endif %}</li>
        <li class="tracks">{% for track in code.tracks %} {{ track.type }} {% endfor %}</li>
        <li class="licence">{{ code.licence }}</li>
    </ul>
</div>
{%- endmacro %}