/*
 * Common styles for front page media elements
 * Each element has a specific style for it in their respective files
 */

@import "audio.css";
@import "code.css";
@import "picture.css";
@import "video.css";

@import "large/base.css";
@import "medium/base.css";
@import "small/base.css";


body > header {
    background: var(--colour-deep) url('/static/images/headerbackground.png');
    box-shadow: 10px 10px 15px 0px var(--colour-forgotten);
    margin-bottom: 0.5em;
    padding: 0.5em;

    h1 {
        font-family: "Orbitron", Verdana, Arial, sans-serif;
        margin-top: 0;

        .titleHighlight {
            color: var(--colour-work);
        }
    }

    nav {
        margin: 0;
    }
}


.mediaEntries {
    padding: 1em;

    .mediaEntry {
        background: var(--colour-float);
        border: var(--colour-work) 1px solid;
        box-shadow: 10px 10px 15px 0px var(--colour-forgotten);
        break-inside: avoid-column;
        margin: 1em;

        img {
            height: auto;
            width: 100%;
        }

        h1, h2, p, .meta, .about {
            padding: 0 1em;
        }

        h1 {
            background: var(--colour-float);
            border-radius: 5px;
            border: 1px solid;
            font-family: "Orbitron", Verdana, Arial, sans-serif;
            font-size: 1.5em;
            margin: 0 auto;
            padding: 0.5em;
            position: relative;
            text-align: center;
            top: -30px;
            width: 80%;
        }

        h2 {
            font-family: "Inconsolata", Verdana, Arial, sans-serif;
            font-size: 1em;
        }

        p {
            font-family: "Droid Sans", serrif;
            font-size: 1em;
        }

        a {
            color: var(--colour-explore);
            text-decoration: none;
        }
        a:visited {
            color: var(--colour-forgive);
        }
        a:hover {
            color: var(--colour-work);
        }
        a:active {
            color: var(--colour-explore);
        }

        .metaBox {
            border-top: 1px solid var(--colour-forgotten);
            margin-bottom: 1em;

            .meta {
                text-align: center;
                display: flex;
                font-size: 0.8em;

                .metaEntry {
                    flex: 1 1 auto;

                    img {
                        height: auto;
                        width: 1em;
                        font-size: 1.5em;
                    }
                }
            }
        }
    }

    .mediaEntry:first-child {
        margin-top: 0;
    }
}

nav {
    margin: 1em 0;
}
