#tmcSoundIcon {
    .soundIcon {
        stroke: var(--colour-float);
        stroke-width: 2px;
        fill: var(--colour-meditate);
    }

    #soundIconBody {
        transition-delay: 1s;
    }

    #soundIconBody:hover {
        fill: var(--colour-float);
        transition-delay: 0s;
    }
}
